<section class="user-search clearfix">
  <form class="js-user-search">
  	<div class="searcher-type">
	    <div class="input-field">
	      <input type="radio" id="js-tech-no" class="js-tech js-tech-no tech" name="tech" value="not-techy" checked="chedked" />
	      <label for="js-tech-no">I am not a techy person</label>
	    </div>
	    <div class="input-field">
	      <input type="radio" id="js-tech-yes" class="js-tech tech" name="tech" value="techy" />
	      <label for="js-tech-yes">I am a techy person</label>
	    </div>
  	</div>
  	<div class="js-tech-fields tech-fields">
  	  <div class="search-question">
        <div class="input-field">
          <input type="radio" id="js-language-css" class="js-language" name="language" value="css" /> <label for="js-language-css">CSS</label>
        </div>
        <div class="input-field">
          <input type="radio" id="js-language-javascript" class="js-language" name="language" value="javascript" /> <label for="js-language-javascript">JavaScript</label>
        </div>
        <div class="input-field">
          <input type="radio" id="js-language-ruby" class="js-language" name="language" value="ruby" /> <label for="js-language-ruby">Ruby</label>
        </div>
        <div class="input-field">
          <input type="radio" id="js-language-php" class="js-language" name="language" value="php" /> <label for="js-language-php">PHP</label>
        </div>
        <div class="input-field">
          <input type="radio" id="js-language-c" class="js-language" name="language" value="c" /> <label for="js-language-c">C</label>
        </div>
        <div class="input-field">
          <input type="radio" id="js-language-java" class="js-language" name="language" value="java" /> <label for="js-language-java">Java</label>
        </div>
  	  </div>
  	  <div class="search-question">
  	    <div class="input-field">
  	      <input type="radio" id="js-followers-0" class="js-followers" name="followers" value="0" /> <label for="js-followers-0">0 followers</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-followers-1-9" class="js-followers" name="followers" value="1..9" /> <label for="js-followers-1-9">1-9 followers</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-followers-10-49" class="js-followers" name="followers" value="10..49" /> <label for="js-followers-10-49">10-49 followers</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-followers-50-999" class="js-followers" name="followers" value="50..999" /> <label for="js-followers-50-999">50-999 followers</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-followers-1000" class="js-followers" name="followers" value=">=1000" /> <label for="js-followers-1000">1000+ followers</label>
  	    </div>
  	  </div>
	</div>
	<div class="js-non-tech-fields non-tech-fields">
	  	<div class="search-question">
  	    <div class="input-field">
  	      <input type="radio" id="js-characteristics-css" class="js-characteristics" name="characteristics" value="css" /> <label for="js-characteristics-css">Both a coder and estetic</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-characteristics-javascript" class="js-characteristics" name="characteristics" value="javascript" /> <label for="js-characteristics-javascript">Someone that can make stuff in the browser move around</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-characteristics-ruby" class="js-characteristics" name="characteristics" value="ruby" /> <label for="js-characteristics-ruby">A coder mod</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-characteristics-php" class="js-characteristics" name="characteristics" value="php" /> <label for="js-characteristics-php">Classic web programmer</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-characteristics-c" class="js-characteristics" name="characteristics" value="c" /> <label for="js-characteristics-c">A hard core code nerd</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-characteristics-java" class="js-characteristics" name="characteristics" value="java" /> <label for="js-characteristics-java">A coder with an engineering degree</label>
  	    </div>
	    </div>
	    <div class="search-question">

  	    <div class="input-field">
  	      <input type="radio" id="js-experience-0" class="js-experience" name="experience" value="0" /> <label for="js-experience-0">Newb</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-experience-1-9" class="js-experience" name="experience" value="1-9" /> <label for="js-experience-1-9">Up and coming</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-experience-10-49" class="js-experience" name="experience" value="10-49" /> <label for="js-experience-10-49">Established</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-experience-50-999" class="js-experience" name="experience" value="50-999" /> <label for="js-experience-50-999">Coder guru</label>
  	    </div>
  	    <div class="input-field">
  	      <input type="radio" id="js-experience-1000" class="js-experience" name="experience" value="1000" /> <label for="js-experience-1000">Coder superstar</label>
  	    </div>
	    </div>
	</div>
	<div class="form-submit">
    <div class="input-field location">
      <label for="js-location">Location:</label>
      <input type="text" id="js-location" class="js-location" placeholder="Anywhere" />
    </div>
    <input type="submit" value="Search" />
	</div>
  </form>
</section>
