.borderbox { @include border-box(); }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.hidden-text {
  display:block;
  overflow:hidden;
  text-indent:-9999px;
}
