css_dir = File.join "public", "stylesheets"
output_style = :compressed
sass_dir = File.join "public", "stylesheets"
images_dir = File.join "public", "images"
http_path = "/"
http_images_path = "/images"
http_stylesheets_path = "/stylesheets"
http_generated_images_path = "/images/icons"
generated_images_path = File.join "public", "images", "icons"
